
.icon-clock:before { content: '\e800'; } /* '' */
.icon-delete:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-power:before { content: '\e803'; } /* '' */